<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido Usuario!!</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
  </head>
  <body>
    <h1>Sea ud. Bienvenido señor(a) {{nombre}}</h1>
    <p>Mis amigos son:</p>
    <ul>
      {% for amigo in amigos %}
      <li>{{ amigo }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
